
{% load static %}

<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/css/Dark-footer-with-social-media-icons.css' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/css/Dark-NavBar-1.css' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/css/Dark-NavBar-2.css' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/css/Dark-NavBar.css' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/css/Navbar-vmnt.css' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/css/Pretty-Search-Form.css' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/css/responsive-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'mainhome/carousel/assets/css/Team-with-rotating-cards.css' %}">
</head>

<body class="text-primary">
    
    
    <section class="card-section-imagia">
        <h1>Our Team</h1>
        <h2>three of us have contribured in this site</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Animesh Sharma</h3>
                                    <p class="subtitle-imagia">Data Scientist </p>
                                    <p class="text-center"><em>Introduction about self!</em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">What Akash's Role?</h3>
                                        <p class="text-center">we will define it later!  </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Akash Poddar</h3>
                                    <p class="subtitle-imagia">Full Stack Developer</p>
                                    <p class="text-center"><em>Introduction about self!</em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">What Animesh's Role?</h3>
                                        <p class="text-center">we will define it later! </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Yashraj Singh Jadon</h3>
                                    <p class="subtitle-imagia">Android Developer </p>
                                    <p class="text-center"><em>Introduction about self!</em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">What Yashraj's Role?</h3>
                                        <p class="text-center">we will define it later!  </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'mainhome/carousel/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'mainhome/carousel/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainhome/carousel/assets/js/Navbar-vmnt-1.js' %}"></script>
    <script src="{% static 'mainhome/carousel/assets/js/Navbar-vmnt-2.js' %}"></script>
    <script src="{% static 'mainhome/carousel/assets/js/Navbar-vmnt-3.js' %}"></script>
    <script src="{% static 'mainhome/carousel/assets/js/Navbar-vmnt.js' %}"></script>
</body>

</html>
